name: Test Docker image

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker image
        run: |
          echo "\n JDK8 with Node.js 16"
          docker run -i $(docker build -q 8/jdk/16) /bin/sh -c "java -version && node --version"
          echo "\n JDK8 alpine with Node.js 16"
          docker run -i $(docker build -q 8/jdk/16/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JDK8 with Node.js 18"
          docker run -i $(docker build -q 8/jdk/18) /bin/sh -c "java -version && node --version"
          echo "\n JDK8 alpine with Node.js 18"
          docker run -i $(docker build -q 8/jdk/18/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JRE8 with Node.js 16"
          docker run -i $(docker build -q 8/jre/16) /bin/sh -c "java -version && node --version"
          echo "\n JRE8 alpine with Node.js 16"
          docker run -i $(docker build -q 8/jre/16/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JRE8 with Node.js 18"
          docker run -i $(docker build -q 8/jre/18) /bin/sh -c "java -version && node --version"
          echo "\n JRE8 alpine with Node.js 18"
          docker run -i $(docker build -q 8/jre/18/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JDK11 with Node.js 16"
          docker run -i $(docker build -q 11/jdk/16) /bin/sh -c "java -version && node --version"
          echo "\n JDK11 alpine with Node.js 16"
          docker run -i $(docker build -q 11/jdk/16/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JDK11 with Node.js 18"
          docker run -i $(docker build -q 11/jdk/18) /bin/sh -c "java -version && node --version"
          echo "\n JDK11 alpine with Node.js 18"
          docker run -i $(docker build -q 11/jdk/18/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JRE11 with Node.js 16"
          docker run -i $(docker build -q 11/jre/16) /bin/sh -c "java -version && node --version"
          echo "\n JRE11 alpine with Node.js 16"
          docker run -i $(docker build -q 11/jre/16/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JRE11 with Node.js 18"
          docker run -i $(docker build -q 11/jre/18) /bin/sh -c "java -version && node --version"
          echo "\n JRE11 alpine with Node.js 18"
          docker run -i $(docker build -q 11/jre/18/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JDK17 with Node.js 16"
          docker run -i $(docker build -q 17/jdk/16) /bin/sh -c "java -version && node --version"
          echo "\n JDK17 alpine with Node.js 16"
          docker run -i $(docker build -q 17/jdk/16/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JDK17 with Node.js 18"
          docker run -i $(docker build -q 17/jdk/18) /bin/sh -c "java -version && node --version"
          echo "\n JDK17 alpine with Node.js 18"
          docker run -i $(docker build -q 17/jdk/18/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JRE17 with Node.js 16"
          docker run -i $(docker build -q 17/jre/16) /bin/sh -c "java -version && node --version"
          echo "\n JRE17 alpine with Node.js 16"
          docker run -i $(docker build -q 17/jre/16/alpine) /bin/sh -c "java -version && node --version"

          echo "\n JRE17 with Node.js 18"
          docker run -i $(docker build -q 17/jre/18) /bin/sh -c "java -version && node --version"
          echo "\n JRE17 alpine with Node.js 18"
          docker run -i $(docker build -q 17/jre/18/alpine) /bin/sh -c "java -version && node --version"

  auto-merge:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Automatically merge dependabot upgrades
        uses: fastify/github-action-merge-dependabot@v3
        with:
          target: minor