name: Lint Dockerfiles

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - run: brew install hadolint

      - run: |
          hadolint {8,11,17,21,25}/**/**/*Dockerfile
          hadolint {8,11,17,21,25}/**/**/**/*Dockerfile
