name: Lint Dockerfiles

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - run: brew install hadolint

      - run: |
          hadolint {8,11,17,21}/**/**/*Dockerfile
          hadolint {8,11,17,21}/**/**/**/*Dockerfile
